<table class="table table-bordered table-hover table-striped" id="dns_table">
  <tbody>
    <%= f.fields_for :dns, @docker_container_wizard_states_environment.dns do |builder| %>
      <%= render 'foreman_docker/common_parameters/dns_entry', :f => builder %>
    <% end %>
  </tbody>
</table>
<%= link_to_add_fields(_("Add DNS"), f, :dns, 'foreman_docker/common_parameters/dns_entry', :target => '#dns_table tbody') %>
