<table class="table table-bordered table-hover table-striped"  id="exposed_ports_table">
  <tbody>
    <%= f.fields_for :exposed_ports, @docker_container_wizard_states_environment.exposed_ports do |builder| %>
      <%= render 'foreman_docker/common_parameters/exposed_port', :f => builder %>
    <% end %>
  </tbody>
</table>
<%= link_to_add_fields(_("Add Exposed Port"), f, :exposed_ports,
                       'foreman_docker/common_parameters/exposed_port',
                       :target => '#exposed_ports_table tbody') %>
